{% block content %}
<form id="logUpload" action={% url "data-upload" %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <label>File Input</label>
        <div class="file-field input-field">
            <div id="file-input" class="btn">
                <span>Browse</span>
                <input id="files" type="file" multiple /> {{ form.files }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text"
                       placeholder="Upload file(s)" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div id="filelist"></div>
        </div>
    </div>


    <div class="row">
        <button id="submitbutton" class="btn waves-effect waves-light" name="action">Submit</button>
    </div>

    <div class="row">
        <progress class="progress" id="progressBar" value="0" max="100" style="width:0%;"></progress>
        <h5 id="status"></h5>
        <p id="amount_loaded"></p>
    </div>

    <script>
        document.getElementById("submitbutton").addEventListener("click", uploadFiles);
    </script>

</form>
{% endblock %}
