{% extends 'base.html' %} {% block content %}

<div class="row center-align">
    <h2>Data Manager</h2>
</div>
<div class="row">
    <div class="col s12 center-align">
        <a class="btn-large red" href="{% url 'delete-all-projects' %}">Delete All Projects</a>
    </div>
</div>


{% endblock %}
