{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Job {{ job.pk }}</h2>
    </div>
    <div class="col">
        <h5>{{ job.upload_date }}</h5>
    </div>
    <div class="col">
        <h5>{{ job.status }}</h5><br>
        <p>{{ job.message }}</p>
    </div>
</div>
{% endblock %}
