{% extends 'base.html' %} {% block content %}
<div class="row">
    <h2>Jobs</h2>
</div>

<div class="row">
    <table class="highlight">
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Date Created</th>
                <th>Status</th>
                <th>Message</th>
                <th>Filename</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.pk }}</td>
                <td>{{ job.upload_date }}</td>
                <td>{{ job.status }}</td>
                <td>{{ job.message }}</td>
                <td>{{ job.job_file.name }}</td>
                <td><a href="{% url 'delete-job' job_id=job.pk %}"><i class="medium material-icons">backspace</i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
