{% extends 'base.html' %} {% block content %}
<div class="row">
    <h2>Linker</h2>
</div>
<div class="row">
    <div class="col s12">
        <form method="post" action="">
            {% csrf_token %}
            <input type="submit", name="link" class="btn" value="link" />
        </form>
    </div>
</div>
{% endblock %}