{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h1>Link Progress for LinkStep #{{ linkstep }}</h1>
    </div>
</div>

<div class="row">
    <div class="col s6 newactions">
        <div class="row">
            <h5>New Actions</h5>
        </div>
    {% for newaction in newactions %}
        <div class="row">
            <span><b>{{ newaction.project.pk }}</b> {{ newaction.project.owner }}</span>
        </div>
    {% endfor %}
    </div>

    <div class="col s6 remixes">
        <div class="row">
            <h5>Remixes</h5>
        </div>
    {% for remix in remixes %}
        <div class="row">
            <span><b>{{ remix.base_project.pk }}</b> -> <b>{{ remix.child_project.pk }}</b></span>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}