{% extends 'base.html' %}
{% load static %}

{% block head %}
{{ block.super }}<script src="{% static 'js/progress.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'data/form.html' %}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock %}
