{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h2>API Call Explorer</h2>
</div>
<form>
    <div class="row">
        <div class="col s6">
            {{ form.form.as_p }}
        </div>
        <div class="col s6">
        </div>
    </div>
    <div class="row center-align">
        <button class="btn-large" type="submit">Submit</button>
    </div>
</form>


{% if api_calls %}
{% include 'utils/paginator.html' with page=api_calls %}
<div class="row">
<table class="highlight">
    <thead>
        <tr>
            <th>Date</th>
            <th>IP Address</th>
            <th>Project</th>
            <th>Call Type</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for call in api_calls %}
        <tr>
            <td>{{ call.log.date }}</td>
            <td>{{ call.log.source.ip_address }}</td>
            <td><a href="{% url 'explorer-project-view' project_id=call.project.project_id %}">{{ call.project.project_id }}</a></td>
            <td>{{ call.call_type }}</td>
            <td>{{ call.log.response_code }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endif %}
{% endblock %}
