{% extends 'base.html' %}
{% block content %}
<div class="row center-align">
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Logs</span>
                <p>Number of log objects: {{ n_logs }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'explorer-logs' %}">Explore Logs</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Projects</span>
                <p>Number of projects: {{ n_projects }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'explorer-projects' %}">Explore Projects</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">API Calls</span>
                <p>Number of API requests: {{ n_api_calls }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'explorer-api-calls' %}">Explore API Calls</a>
            </div>
        </div>
    </div>
</div>
<div class="row center-align">
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Project Logs</span>
                <p>Number of Project Logs: {{ n_project_logs }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'explorer-project-logs' %}">Explore Project Logs</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
