{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h2>Log Explorer</h2>
</div>
<form>
    <div class="row">
        <div class="col s6">
            {{ form.form.as_p }}
        </div>
        <div class="col s6">
        </div>
    </div>
    <div class="row center-align">
        <button class="btn-large" type="submit">Submit</button>
    </div>
</form>

{% if logs %}
{% include 'utils/paginator.html' with page=logs %}
<div class="row">
    <table class="highlight">
        <thead>
            <tr>
                <th>Time</th>
                <th>IP Address</th>
                <th>Method</th>
                <th>URL</th>
                <th>Response Code</th>
                <th>Response Byte Size</th>
                <th>Job #</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.date }}</td>
                <td>{{ log.source.ip_address }}</td>
                <td>{{ log.method }}</td>
                <td>{{ log.request_url }}</td>
                <td>{{ log.response_code }}</td>
                <td>{{ log.response_byte_size }}</td>
                <td><a href="{% url 'view-job' job_id=log.from_job.pk %}">{{ log.from_job.pk }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}
{% endblock %}
