{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col">
        <h2>Project {{ project.project_id }}: {{ project.owner }}</h2>
        <a class="btn" href="{% url 'visualize-project' project_id=project.project_id %}">Visualize</a>
    </div>
</div>
<div class="row">
    <div class="col">
        Created on: {{ project.first_log.date }}
    </div>
</div>
<div class="row">
    <div class="col s4">
        <h5>Logs on {{ project.project_id }}</h5>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>Action</th>
                    <th>Log</th>
                </tr>
            </thead>
            <tbody>
                {% for project_log in project_logs %}
                <tr>
                    <td>{{ project_log.log.date }}</td>
                    <td>{{ project_log.log.source.ip_address }}</td>
                    <td>{{ project_log.action }}</td>
                    <td><a href="{% url 'visualize-log' log_id=project_log.log.pk %}">{{ project_log.log.pk }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col s4">
        <h5>API Calls on {{ project.project_id }}</h5>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>Type</th>
                    <th>Log</th>
                </tr>
            </thead>
            <tbody>
                {% for call in api_calls %}
                <tr>
                    <td>{{ call.log.date }}</td>
                    <td>{{ call.log.source.ip_address }}</td>
                    <td>{{ call.call_type }}</td>
                    <td><a href="{% url 'visualize-log' log_id=call.log.pk %}">{{ call.log.pk }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col s4">
        <h5>Children of {{ project.project_id }}</h5>
        <table class="hightlight">
            <thead>
                <tr>
                    <th>Child Project</th>
                    <th>Project Owner</th>
                    <th>Forked on</th>
                </tr>
            </thead>
            <tbody>
                {% for remix in children %}
                <tr>
                    <td><a href="{% url 'explorer-project-view' project_id=remix.child_project.project_id %}">{{ remix.child_project.project_id }}</a></td>
                    <td>{{ remix.child_project.owner }}</td>
                    <td>{{ remix.api_call.log.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, options);
    });
</script>
{% endblock %}
