{% extends "base.html" %}
{% block content %}
<div class="row">
    <h2>Project Explorer</h2>
</div>

<form>
    <div class="row">
        <div class="col s6">
            {{ form.form.as_p }}
        </div>
        <div class="col s6">
        </div>
    </div>
    <div class="row center-align">
        <button class="btn-large" type="submit">Submit</button>
    </div>
</form>
{% if projects %}
{% include 'utils/paginator.html' with page=projects %}
<div class="row">
    <table class="highlight">
        <thead>
            <tr>
                <th>Action</th>
                <th>Project ID</th>
                <th>Owner</th>
                <th>First Log</th>
                <th>{{ order_method }}</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                    <a class="btn" href="{% url 'explorer-project-view' project_id=project.project_id %}">Explore</a>
                    <a class="btn red lighten-2" href="{% url 'visualize-project' project_id=project.project_id %}">Visualize</a>
                </td>
                <td><a href="{% url 'explorer-project-view' project_id=project.project_id %}">{{ project.project_id }}</a></td>
                <td>{{ project.owner }}</td>
                <td><a class="tooltipped"
                       data-position="right"
                       data-tooltip="{{ project.first_log.request_url }}">
                       {{ project.first_log }}
                    </a>
                </td>
                <td><span class="badge">{{ project.order_field }}</span><td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
