{% extends "base.html" %}
{% block content %}

<div class="row">
    <h2>Project Log Explorer</h2>
</div>

<form>
    <div class="row">
        <div class="col s6">
            {{ form.form.as_p }}
        </div>
        <div class="col s6">
        </div>
    </div>
    <div class="row center-align">
        <button class="btn-large" type="submit">Submit</button>
    </div>
</form>

{% if project_logs %}
{% include 'utils/paginator.html' with page=project_logs %}
<div class="row">
    <table class="highlight">
        <thead>
            <tr>
                <th>Date</th>
                <th>Project</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for project_log in project_logs %}
            <tr>
                <td>{{ project_log.log.date }}</td>
                {% if project_log.project %}
                <td><a href="{% url 'explorer-project-view' project_id=project_log.project.project_id %}">{{ project_log.project }}</a></td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{ project_log.action }}</td>
                <td>{{ project_log.log.response_code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
