#api-call-chart .ct-chart-donut .ct-series-a .ct-slice-donut-solid {
    fill: #269031;
}

#api-call-chart .ct-chart-donut .ct-series-b .ct-slice-donut-solid {
    fill: #0c705b;
}

#api-call-chart .ct-chart-donut .ct-series-c .ct-slice-donut-solid {
    fill: #67da3e;
}

#api-call-chart .ct-chart-donut .ct-series-d .ct-slice-donut-solid {
    fill: #124137;
}

#api-call-chart .ct-chart-donut .ct-series-e .ct-slice-donut-solid {
    fill: #055793;
}
