<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/novavis.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <title>StarLogo Visualizer</title>
        {% endblock %}
    </head>
    <body id="override">
        {% if user.is_authenticated %}
            {% include 'navbar.html' %}
        {% endif %}
        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <script>M.AutoInit()</script>
        {% include 'footer.html' %}
    </body>
</html>
