<footer class="page-footer blue-grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>NovaVisualizer v0.1</p>
            </div>
            <div class="col">
                <p>Developer: William Fong: willfong@mit.edu</p>
            </div>
        </div>
    </div>
</footer>
