{% extends 'base.html' %}
{% block content %}

{% if logged_in %}
<div class="row center-align" style="padding-top: 200px;">
    <div class="col center-align s4">
        <a class="btn-large" href="{% url "visualizer-index" %}">Visualize</a>
        <p>Visualize uploaded logs.</p>
    </div>
    <div class="col center-align s4">
        <a class="btn-large" href="{% url "explorer-index" %}">Explore</a>
        <p>Explore data through queries and filters. Here you can also
        modify data currently existing in the database.</p>
    </div>
    <div class="col center-align s4">
        <a class="btn-large" href="{% url "data-upload" %}">Upload Logs</a>
        <p>Upload data here</p>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col s12 center-align">
        <h1><b>NOVA Visualizer Login</b></h1>
    </div>
</div>
<div class="row center-align">
    <div class="col s12 center-align">
        <p>Credentials are needed in order to view log information. Contact
        administrators if you need to gain access.</p>
    </div>
</div>
<div class="row center-align">
    <div class="col s12 center-align">
        <a class="btn-large" href="{% url "login" %}">Login</a>
    </div>
</div>

{% endif %}
{% endblock %}
