<nav>
    <div class="nav-wrapper blue-grey darken-1">
        <a
            href="{% url "helpme" %}"
            class="brand-logo"
            style="padding-left: 20px;">NOVA Visualizer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url "visualizer-index" %}">Visualize</a></li>
            <li><a href="{% url "explorer-index" %}">Explore</a></li>
            <li><a href="{% url "data-upload" %}">Data Upload</a></li>
        </ul>
    </div>
</nav>
