{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h3>Nova Visualization Tool</h3>
    </div>
</div>
<div class="row">
    <div class="col s6 offset-s3">
        <p>
            This project aims to aid in visualizing user activity on StarLogo Nova.
            Here you can see how user projects are generated, when they are accessed,
            and (more importantly) when they are remixed. You should be able
            to use this information for assessment on module effectiveness.
        </p>
        <p>
            Users can also explore data using the explorer app. There a user can
            interact with parsed data in tabular form. Here a user can perform
            raw statistics, aggregation, and other low level forms of exploration.
        </p>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <h4>How it Works</h4>
    </div>
</div>
<div class="row">
    <div class="col s6 offset-s3">
        <p>
            The backbone of this project is Django and the LogParser module with
            asynchronous cabiltities provided by the Celery module. All utilize
            the Python programming language and each represents a vital component.
        </p>
        <h5>LogParser</h5>
        <p>
            The LogParser module was written in order to provide
            a high level of abstraction in splitting formatted text into relations
            which could be dependent on each other. It also provides filtering and
            various callback capabilities for additional processing before data is
            committed.
        </p>
        <h5>Django</h5>
        <p>
            Django is a webframework written using Python. It not only provides
            the web interface, which you are using, but also a highly abstracted
            Object Relational Model (ORM) which allows a database interface that
            supports various mainstream SQL managers. In the case of the development
            of this project, Postgresql was used.
        </p>
    </div>
</div>
<div class="row">
    <div class="col s6 offset-s3">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Jobs</div>
                <div class="collapsible-body">
                    <p>
                        When a user uploads a single or multiple files, each file is
                        placed inside a Job object. This Job is processed using LogAnalyzer
                        which both turns a raw string into SQL relations and filters
                        information which might be irrelevant.
                    </p>
                    <p>
                        TODO Make Jobs be processed in parallel.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Sources</div>
                <div class="collapsible-body">
                    <p>
                        Sources merely represent a logical IP address. Which for now this
                        project only supports IPv4 (IPv6 support can easily be added).
                        This relation allows easy filtering of large queries and provides
                        a way to flag log objects as originating from either a bot
                        or from an attacker.
                    </p>
                    <p>
                        For now the project assumes that IP addresses are static.
                        As a result there is a race condition when attempting to link
                        projects to the log which created them. See the project section
                        for more information.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Logs</div>
                <div class="collapsible-body">
                    <p>
                        Logs are the core of all the analytics which are performed.
                        They contain raw information of what a user requests and
                        how the StarLogo Nova server responded.
                    </p>
                    <p>
                        While raw queries can be performed on logs it is more advisable
                        to perform logs on the more specific classes: Project Logs and
                        API Calls. This should allow the user to operate on log instances
                        which have been determined to have operated on a Project.
                        Further defining more concrete log classes was needed as making
                        queries on over a few million log instances proved too taxing.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Projects</div>
                <div class="collapsible-body"><p>
                    While Logs represent the core class in terms of raw information,
                    Projects contain the data that is the most interesting.
                    They represent when a user implements a project of theirs,
                    and whether or not the project was remixed. A user should
                    be able to run queries and visualize on just projects alone
                    in order to determine a curriculum module activity.
                </p></div>
            </li>
            <li>
                <div class="collapsible-header">Bots</div>
                <div class="collapsible-body">
                    <p>
                        During the initial stages of this project, it became obvious
                        that a <i>large</i> amount of traffic is due to web crawlers.
                        As a result, part of LogParser's duty is to determine when
                        a log is coming from a bot. This is to reduce noise and
                        pollution within the database.
                    </p>
                    <p>
                        Bot information is not destroyed by default. This data should
                        be used as infrastructure guidelines as most of the bot
                        traffic is due to large organizations like Google and most
                        should abide by a robots.txt file.
                    </p>
               </div>
            </li>
        </ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });
</script>
{% endblock %}
