{% load tags %}
{% block content %}
<div class="paginator">
    <ul class="pagination">
        {% if page.has_previous %}
        <li class="waves-effect"><a href="?{% url_replace page=1 %}"><i class="material-icons">chevron_left</i></a></li>
        <li class="waves-effect"><a href="?{% url_replace page=page.previous_page_number %}">{{ page.previous_page_number }}</a></li>
        {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

        <li class="active"><a href="#">{{ page.number }}</a></li>
        {% if page.has_next %}
        <li class="waves-effect"><a href="?{% url_replace page=page.next_page_number %}">{{ page.next_page_number }}</a></li>
        <li class="waves-effect"><a href="?{% url_replace page=page.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
