{% extends 'base.html' %}
{% block content %}
<div class="row center-align">
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Logs</span>
                <p>Number of log objects: {{ n_logs }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'visualizer-log-list' %}">Visualize Logs</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Projects</span>
                <p>Number of projects: {{ n_projects }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'visualizer-project-list' %}">Visualize Projects</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Locations</span>
                <p>Number of Locations: {{ n_locations }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'visualizer-locations' %}">Visualize Locations</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
