{% extends "base.html" %}
{% block head %}
{{ block.super }}
<script src="https://d3js.org/d3.v3.js"></script>

<!-- Location -->
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css" type="text/css">
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>

{% endblock %}
{% block content %}
<div class="row center-align">
    <div class="col s12">
        <div class="center-align">

            <form action="{% url "visualizer-locations" %}" method="POST">
                {% csrf_token %}
                {{ form.form }}
                <input type="submit" value="submit">
            </form>

            <div id="map" style="height; 500px;"></div>

            {% for location in locations %}
                {{ location }}
            {% endfor %}

        </div>
    </div>
</div>

<!-- Location Script -->
<script>
    let data = [
        {% for location in locations %}
        {
            'latitude': {{ location.latitude }},
            'longitude': {{ location.longitude }},
            'accuracy': {{ location.accuracy }},
            'n_logs': {{ location.n_logs }},
        },
        {% endfor %}
    ];

    let center_lat = 39.50;
    let center_lon = -98.35;
    
    if (data.length > 0) {
        let lat_sum = 0.0;
        let lon_sum = 0.0;
        for (let i=0; i < data.length; i++) {
            lat_sum += data[i].latitude;
            lon_sum += data[i].longitude
        }
        center_lat = lat_sum / data.length;
        center_lon = lon_sum / data.length;
    }

    let location_vector = new ol.source.Vector({});
    for (let i=0; i < data.length; i++) {
        location_vector.addFeature(new ol.Feature({
            geometry: new ol.geom.Point(
                ol.proj.fromLonLat([data[i].longitude, data[i].latitude])
            ),
            weight: data[i].n_logs
        }));
    }


    let style = ol.style.Style({
        image: new ol.style.Circle({
            radius: 1,
            stroke: new ol.style.Stroke({
                color: 'magenta'
            })
        })
    });

    let vector_layer = new ol.layer.Heatmap({
        source: location_vector,
        blur: 10,
        radius: 2
    });

    let map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.Stamen({
                    layer: 'toner'
                })
            }),
            vector_layer
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([center_lon, center_lat]),
            zoom: 4
        })
    });
</script>
{% endblock %}
