{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h2>Log: {{ log.pk }}</h2>
        <h4>{{ log.date }}</h4>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th>IP Address</th>
                            <th>Method</th>
                            <th>URL</th>
                            <th>Status Code</th>
                            <th>Response Size</th>
                            <th>User Agent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ log.source.ip_address }}</td>
                            <td>{{ log.method }}</td>
                            <td>{{ log.request_url }}</td>
                            <td>{{ log.response_code }}</td>
                            <td>{{ log.response_byte_size }}</td>
                            <td>{{ log.user_agent_http }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
