{% extends 'base.html' %}
{% block content %}
<div class="row center-align">
    <div class="col s6 center-align">
        <span class="step-links">
            {% if logs.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ logs.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ logs.number }} of {{ logs.paginator.num_pages }}
            </span>

            {% if logs.has_next %}
            <a href="?page={{ logs.next_page_number}}">Next</a>
            <a href="?page={{ logs.paginator.num_pages }}">Last</a>
            {% endif %}
        </span>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>IP Address</th>
                    <th>Request</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.date }}</td>
                    <td>{{ log.source.ip_address }}</td>
                    <td>{{ log.request_url }}</td>
                    <td>{{ log.response_code }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
