{% extends 'base.html' %}
{% block head %}
{{ block.super }}
{% load static %}
<script src="https://d3js.org/d3.v3.js"></script>
<script src="{% static 'js/jsnetworkx.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>

<!-- Chartist -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<!-- Location -->
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css" type="text/css">
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>

<link rel="stylesheet" href="{% static 'css/visual-project.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h2><div class="grey-text">Project {{ project.project_id }}:</div><h2>
        <h3><div class="red-text">{{ project.owner }}</div></h3>
    </div>
</div>

<div class="row valign-wrapper">
    <div class="col s4">
        <div class="card">
            <div class="card-content center-align">
                <span class="card-title">Project Network</span>
                <p><div id="project-network"></div></p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-content center-align">
                    <span class="card-title">Project Logs</span>
                <p><div id="project-log-chart" class="ct-chart ct-perfect-fourth" style="height: 480px;"></div></p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-content center-align">
                <span class="card-title">API Calls</span>
                <p><div id="api-call-chart" class="ct-chart ct-perfect-fourth" style="height: 480px;"></div></p>
            </div>
        </div>
    </div>
</div>

<div class="row center-align">
    <div class="col s6 center-align">
        <div id="project-log-graph" class="ct-chart ct-perfect-fourth"></div>
    </div>
    <div class="col s6 center-align">
        <div id="map" style="height: 400px;"></div>
    </div>
</div>
<!-- Distribution Script -->
<script>
    var data = {
        labels: {{ project_log_dist.labels | safe }},
        series: {{ project_log_dist.data | safe }}
    };

    var api_data = {
        labels: {{ api_call_dist.labels | safe }},
        series: {{ api_call_dist.data | safe }}
    }

    var options = {
        labelInterpolationFnc: function(value) {
            return value[0];
        },
        donut: true,
        donutWidth: 20,
        donutSolid: true,
        showLabel: true
    };
    var responsiveOptions = [
        ['screen and (min-width: 640px)', {
            chartPadding: 100,
            labelOffset: 20,
            labelDirection: 'explode',
            labelInterpolationFnc: function(value) {
                return value;
            }
        }],
        ['screen and (min-width: 1024px)', {
            labelOffset: 70,
            chartPadding: 100
        }]
    ];
    var chart = new Chartist.Pie('#project-log-chart', data, options, responsiveOptions);
    var api_chart = new Chartist.Pie('#api-call-chart', api_data, options, responsiveOptions);

    chart.on('draw', function(data) {
        if(data.type === 'slice') {
            // Get the total path length in order to use for dash array animation
            var pathLength = data.element._node.getTotalLength();

            // Set a dasharray that matches the path length as prerequisite to animate dashoffset
            data.element.attr({
              'stroke-dasharray': pathLength + 'px ' + pathLength + 'px'
            });

            // Create animation definition while also assigning an ID to the animation for later sync usage
            var animationDefinition = {
              'stroke-dashoffset': {
                id: 'anim' + data.index,
                dur: 1000,
                from: -pathLength + 'px',
                to:  '0px',
                easing: Chartist.Svg.Easing.easeOutQuint,
                // We need to use `fill: 'freeze'` otherwise our animation will fall back to initial (not visible)
                fill: 'freeze'
              }
            };
            // If this was not the first slice, we need to time the animation so that it uses the end sync event of the previous animation
            if(data.index !== 0) {
                animationDefinition['stroke-dashoffset'].begin = 'anim' + (data.index - 1) + '.end';
            }

            // We need to set an initial value before the animation starts as we are not in guided mode which would do that for us
            data.element.attr({
                'stroke-dashoffset': -pathLength + 'px'
            });

            // We can't use guided mode as the animations need to rely on setting begin manually
            // See http://gionkunz.github.io/chartist-js/api-documentation.html#chartistsvg-function-animate
            data.element.animate(animationDefinition, false);
        }
    });
</script>

<!-- Hierarchy Script -->
<script>
    var G = new jsnx.DiGraph();
    jsnx.draw(G, {
        element: '#project-network',
        withLabels: false,
        height: 480,
        nodeAttr: {
            r: 10,
            linkDistance: 20,
            id: function(d) {
                return 'node-' + d.node;
            },
            title: function(d) {
                return 'Owner: ' + d.data.owner + ' ' + d.node;
            }
        },
        nodeStyle: {
            stroke: 'none',
            fill: function(d) {
                return color(d.data.depth);
            }
        },
        edgeStyle: {
            fill: '#999'
        }
    },
    true)
    var color = d3.scale.category20();

    // Allow highlighting of nodes
    function highlight_nodes(nodes, on) {
        nodes.forEach(function(n) {
            d3.select('#node-' + n).style('fill', function(d) {
                return on ? '#EEE' : color(d.data.depth);
            })
        })
    }

    function getTree(base, curDepth) {
        // Begin AJAX loading of data
        var xhr = new XMLHttpRequest();
        var url = "{% url 'ajax-project-tree' %}";

        xhr.onreadystatechange = function() {
            var DONE = 4;
            var OK = 200;

            if (xhr.readyState === DONE && xhr.status === OK) {
                // Do good things
                //console.log(xhr);
                parent_id = xhr.response.content.id;
                n_children = xhr.response.content.children.length;
                children = xhr.response.content.children;
                G.addNode(parent_id, {
                    owner: xhr.response.content.owner,
                    color: 'red'
                });
                d3_node = d3.select('#node-' + parent_id);
                d3_node.on('mouseover', function(d) {
                    highlight_nodes([d.node], true);
                });
                d3_node.on('mouseout', function(d) {
                    highlight_nodes([d.node], false);
                });
                d3_node.append('svg:title').text(function(d, i) {
                    return 'Owner: ' + d.data.owner + ' ' + d.node;
                });
                for (var i=0; i < n_children; i++) {
                    G.addNode(children[i].id, {depth: curDepth});
                    G.addEdge(parent_id, children[i].id);
                    getTree(children[i].id, curDepth + 1);
                }

            }
        };
        xhr.withCredentials = true;
        xhr.responseType = 'json';
        xhr.open('GET', url + '?project=' + base, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.send();
    }

    getTree({{ project.project_id }}, 0)
</script>

<script>
    var xhr = new XMLHttpRequest();
    var url = "{% url 'ajax-project-logs' %}";

    var log_data = [];

    xhr.onreadystatechange = function() {
        var DONE = 4;
        var OK = 200;

        if (xhr.readyState === DONE && xhr.status === OK) {
            var types = xhr.response.content.types;
            for (var type in Object.keys(xhr.response.content.types)) {
                var raw_logs = xhr.response.content.logs[types[type]];
                var logs = [];

                for (var i=0; i < raw_logs.length; i++) {
                    logs.push({
                        x: new Date(raw_logs[i].date),
                        y: raw_logs[i].size
                    })
                }
                log_data.push({
                    name: types[type],
                    data: logs
                });
            }

            var chart = new Chartist.Line('#project-log-graph', { series: log_data }, {
                axisX: {
                    type: Chartist.FixedScaleAxis,
                    divisor: 5,
                    labelInterpolationFnc: function(value) {
                        return moment(value).format('MMM D Y');
                    }
                },
                showLine: false
            });
        }
    };

    xhr.withCredentials = true;
    xhr.responseType = 'json';
    xhr.open('GET', url + '?project={{ project.project_id }}', true);
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.send();
</script>

<!-- Location Script -->
<script>
    var location_xhr = new XMLHttpRequest();
    var url = "{% url 'ajax-project-locations' %}";

    location_xhr.onreadystatechange = function() {
        var DONE = 4;
        var OK = 200;

        if (location_xhr.readyState === DONE && location_xhr.status === OK) {

            var locations = [];
            var location_vector = new ol.source.Vector({});

            for (var i=0; i < location_xhr.response.content.api_locations.length; i++) {
                var loc = location_xhr.response.content.api_locations[i];

                location_vector.addFeature(new ol.Feature({
                    geometry: new ol.geom.Point(
                        ol.proj.fromLonLat(loc)
                    )
                }));
            }
            for (var i=0; i < location_xhr.response.content.project_locations.length; i++) {
                var loc = location_xhr.response.content.project_locations[i];

                location_vector.addFeature(new ol.Feature({
                    geometry: new ol.geom.Point(
                        ol.proj.fromLonLat(loc)
                    )
                }));
            }

            var style = ol.style.Style({
                image: new ol.style.Circle({
                    radius: 1,
                    stroke: new ol.style.Stroke({
                        color: 'magenta'
                    })
                })
            });

            var vector_layer = new ol.layer.Heatmap({
                source: location_vector,
                blur: 10,
                radius: 2
            });

            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.Stamen({
                            layer: 'toner'
                        })
                    }),
                    vector_layer
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([-98.35, 39.50]),
                    zoom: 4
                })
            });
        }
    };

    location_xhr.withCredentials = true;
    location_xhr.responseType = 'json',
    location_xhr.open('GET', url + '?project={{ project.project_id }}', true);
    location_xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    location_xhr.send();
</script>
{% endblock %}
