{% extends 'base.html' %}
{% block content %}
<div class="row center-align">
    <div class="col s6 center-align">
        <span class="step-links">
            {% if projects.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ projects.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ projects.number }} of {{ projects.paginator.num_pages }}
            </span>

            {% if projects.has_next %}
            <a href="?page={{ projects.next_page_number}}">Next</a>
            <a href="?page={{ projects.paginator.num_pages }}">Last</a>
            {% endif %}
        </span>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Create Date</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.owner }}</td>
                    <td>{{ project.first_log.date }}</td>
                    <td><a href="{% url 'visualize-project' project_id=project.project_id %}">{{ project.project_id }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
